<app-header-banner [headerText]="'Quiz Management'"></app-header-banner>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Add Quiestion</h5>
            <div class="card-body">
                <form action="" [formGroup]="addQuestionForm" (ngSubmit)="this.onSubmitAddQuestionForm()">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Enter Quiestion</label>
                            <textarea name="" class="form-control" id="" formControlName="questionName"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Enter Quiestion Answers</label>
                            <textarea name="" class="form-control" id="" formControlName="questionAnswers"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="">Select Quiestion Type</label>
                            <select name="" class="form-control" id="" formControlName="questionType">
                                <option value="">-- Select an Option --</option>
                                <option value="1">CARACTÉRISTIQUES PHYSIQUES ET PHYSIOLOGIQUES</option>
                                <option value="2">ALIMENTATION</option>
                                <option value="3">RYTHMES ET CAPACITÉS PERSONNELLES</option>
                                <option value="4">ÉMOTION & TEMPÉRAMENT</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-sm">Add Question</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Product Informations</h5>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="card-header">Searche Orders: </h5>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control mt-1" [(ngModel)]="searchText">
                        </div>
                        <!-- <div class="col-2">
                            <button class="btn btn-primaru btn-sm">Search</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered first">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Question Name</th>
                                        <th>Category</th>
                                        <th>Answers List</th>
                                        <th>Create Time</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let eachQuestion of this.questionList; index as i">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ eachQuestion.quistionName }}</td>
                                        <td>{{ eachQuestion.quiestionCategoryType }}</td>
                                        <td>{{ eachQuestion.questionAnswer }}</td>
                                        <td>{{ eachQuestion.createTime | date }}</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" (click)="openModal(eachQuestion)">Update</button>
                                            <button class="btn btn-danger btn-sm" (click)="onClickDeleteQuiz(eachQuestion)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Question Name</th>
                                        <th>Category</th>
                                        <th>Answers List</th>
                                        <th>Create Time</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade show d-block" *ngIf="showModal" tabindex="-1" role="dialog" style="background: rgba(0,0,0,0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Question</h5>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Question Name</label>
                        <textarea name="questionName" id="" class="form-control">{{ selectedQuestion.quistionName }}</textarea>
                    </div>
                    <div class="col-12 mt-2">
                        <label for="">Answers List</label>
                        <textarea name="answersList" id="" class="form-control">{{ selectedQuestion.questionAnswer }}</textarea>
                    </div>
                    <div class="col-12 mt-2">
                        <label for="">Select Quiestion Type</label>
                        <select name="" class="form-control" id="" [(ngModel)]="selectedQuestion.quiestionCategoryType">
                            <option value="">-- Select an Option --</option>
                            <option value="1">CARACTÉRISTIQUES PHYSIQUES ET PHYSIOLOGIQUES</option>
                            <option value="2">ALIMENTATION</option>
                            <option value="3">RYTHMES ET CAPACITÉS PERSONNELLES</option>
                            <option value="4">ÉMOTION & TEMPÉRAMENT</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" (click)="updateQuestion()">Update</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>